body {
    font-family: "Poetsen One", sans-serif;  
    background-color: rgb(223, 245, 255);
    color: #020202;
    margin: 0;
    padding: 0;
  }

#editform{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: rgb(103, 198, 227);
    width: 80%;
    justify-self:center;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color:rgb(103, 198, 227);
}

h1{
    color:rgb(55, 140, 231);
    text-align: center;
}

input[type="text"]{
    font-family: "Poetsen One", sans-serif;  
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: #0f0f0f;
}

#details{
    font-family: "Poetsen One", sans-serif;  
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: #0f0f0f;
}

#priority{
    font-family: "Poetsen One", sans-serif;  
    margin: 10px;
}

#editsavebutton{
    font-family: "Poetsen One", sans-serif;  
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgb(55, 140, 231);
    color: #fff;
    cursor: pointer;
    border: 1px solid #444;
}

label{
    color:#fff;
}

