body {
    font-family: "Poetsen One", sans-serif;
    background-color: rgb(223, 245, 255);
    color: #020202;
    margin: 0;
    padding: 0;
    overflow-x: auto;

}

h1{
    color:rgb(55, 140, 231);
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

#buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#create {
    font-family: "Poetsen One", sans-serif;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgb(55, 140, 231);
    color: #fff;
    cursor: pointer;
    border: 1px solid #444;
    align-self: flex-start;
}

#logoutbutton {
    font-family: "Poetsen One", sans-serif;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgb(223, 99, 17);
    color: #fff;
    cursor: pointer;
    border: 1px solid #444;
}

table{
    width: 100%;
    display: table;
    background-color:rgb(103, 198, 227);
    margin-bottom: 5%;
    margin-top: 2%;
    border: 1px solid #444;
    border-radius: 10px;
    border-spacing:10px;
}

.donebutton{
    font-family: "Poetsen One", sans-serif;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: rgb(37, 134, 37);
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    display: inline;
    border: 1px solid #444;
}

.editbutton{
    font-family: "Poetsen One", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(55, 140, 231);
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    display: inline;
    border: 1px solid #444;
}

th{
    font-size: xx-large;
    border-bottom: 1px solid #020202;

}